/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Element - Base
------------------------------------------------------------------------------*/

body {
    font-family: Dosis, Roboto, sans-serif;
    background: #E3E4E4;
}

.wrapper {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------------------------------------------
   Element - Typographie
------------------------------------------------------------------------------*/
h1{
    font-size: 36px;

}

h2{
    font-size: 24px
}

/*------------------------------------------------------------------------------
   Composantes / Modules
------------------------------------------------------------------------------*/

/* header */
header{
    background-color: white;
}
header .wrapper{
display: grid;
grid-template-columns: 50% 50%;
align-items: center;
}

header img{
    max-width: 285px;
    max-height: 77px;
    margin: 20px;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

a{
text-transform: uppercase;  
    text-decoration: none;
    color: black;
}

a:hover{
 background-color:#0E5EA1 ;
 border-radius: 5px;
padding: 5px;
 color: white;  
text-decoration: none;
text-transform: uppercase; 
}

/* hero */
.hero{
background-image: url(../images/hero.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 450px;
display: flex;
align-items: center;
justify-content: center;
color: white;
}

.hero .wrapper{
width: 455px;
height: 119px;
background-color: rgba(0, 0, 0, 0.7);
border-radius: 10px;
text-align: center;
}

h1{
margin-bottom: 20px;
}

.hero p{
color: #2FCB48;
font-family: roboto, arial black;
margin-top: 0;
}

.hero {
margin-bottom: 40px;
}


/* contenu */
.contenu .wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 35px;
}

article{
    display: grid;
    width: 320px;
    height: 714px ;
    background-color: white;
    align-self: center;
    grid-template-rows: auto 1fr auto;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

   }
.contenu p{
    margin: 10px 0;
    line-height: 25px;
    font-family: roboto, arial black;
}

.contenu a{

        font-family: roboto, arial black;
    color: black;
    background-color:#B7B7B7 ;
    align-self: flex-end;
    text-align: center;
    width: 150px;
    height: 40px;
    justify-self: center;
    border-radius: 5px;

display: flex; 
align-items: center;
justify-content: center;
}

.contenu a:hover{
    color: white;
    border-radius: 5px;
    background-color: #0E5EA1;
    width: 150px;
    height: 40px;
    text-align: center;
}

.imgContenu{
   
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 35px;
}


/* footer */

footer{
    background-color: black;
    height: 72px;

}

footer p{
    color: white;
    text-align: center;
    justify-self: center;
    

}

